#clear-units {
  margin-top: 25px;
}

.row {
  margin-bottom: 1em;
}

.unit-thumb {
  margin-right: 1em;
}

.donation-box {
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  padding: 1em 0;
}

.donation-box form {
  display: inline;
}

#total-evo-counts th, #total-misc-counts th {
  text-align: center;
}

.totem, .pot, .idol, .spirit, .nymph, .mimic {
  text-align: center;
}

.fire{background: #F2DEDE}
.water{background: #D9EDF7}
.earth{background: #DFF0D8}
.thunder{background: #FCF8E3}
.light{background: #fff;}
.dark{background: #e7daf8}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border-top:1px solid #fff;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{vertical-align: middle}
