#clear-units {
  margin-top: 25px;
}

.row {
  margin-bottom: 1em;
}

.unit-thumb {
  margin-right: 1em;
}

.donation-box {
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  padding: 1em 0;
}

.donation-box form {
  display: inline;
}

#total-evo-counts th, #total-misc-counts th {
  text-align: center;
}

.totem, .pot, .idol, .spirit, .nymph, .mimic {
  text-align: center;
}
