#clear-units {
  margin-top: 25px;
}

.row {
  margin-bottom: 1em;
}

.unit-thumb {
  margin-right: 1em;
}

.donation-box {
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  padding: 1em 0;
}

.donation-box form {
  display: inline;
}

#total-evo-counts th, #total-misc-counts th {
  text-align: center;
}

.totem, .pot, .idol, .spirit, .nymph, .mimic, .bulb, .tone, .mech-god {
  text-align: center;
}

.fire{
	background: #F2DEDE
}

.water{
	background: #D9EDF7
}

.earth{
	background: #DFF0D8
}

.thunder{
	background: #FCF8E3
}

.light{
	background: #fff
}

.dark{
	background: #e7daf8
}

.fire img, .water img, .earth img, .thunder img, .light img, .dark img{
	width: 15px;
	height: auto;
	margin-top: -4px
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	border-top:1px solid #fff
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	vertical-align: middle
}

#hero{
	color: #fff;
	background: #252830;
	 padding: 80px 0 0;
	margin-bottom: 60px
}

#zel-row img{
	margin-top: -5px
}

